<footer class="main-footer">
    <strong>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. |<a href="http://adminlte.io"><strong> SoftNiX</strong></a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b><strong>Client Backend |</strong></b> beta-1.0.0
    </div>
  </footer>